.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.class-list ul {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: center;
}

.class-list li {
  float: left;
  margin-right: 20px;
}

.card {
  display: block;
}

.card img {
  width: 100%;
  height: auto;
}

.active-class {
  border: solid 2px #000000;
}